{% extends "cart.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}

<!-- Cart Page Start -->
<div class="page-section section pt-90 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Изображение</th>
                                    <th class="pro-title">Продукт</th>
                                    <th class="pro-price">цена за товар</th>
                                    <th class="pro-quantity">Количество</th>
                                    <th class="pro-subtotal">Цена</th>
                                    <th class="pro-remove">Удалить</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in cart %}
                            {% with product=item.product %}
                                <tr>
                                    <td class="pro-thumbnail">
                                        <a href="{{ product.get_absolute_url }}">
                                            <img src="
                                                {% if product.image %}
                                                    {{ product.image.url }}
                                                {% else %}
                                                {% static 'img/no_image.png' %}
                                                {% endif %}" alt="Product">
                                        </a>
                                    </td>
                                    <td class="pro-title">
                                        <a href="#">{{ product.name }}</a>
                                    </td>
                                    <td class="pro-price">
                                        <span>{{ item.price }} руб.</span>
                                    </td>
                                    <td class="pro-quantity">
                                            {{ item.quantity }} шт.
                                    </td>
                                    <td class="pro-subtotal">
                                        <span>{{ item.total_price }} руб.</span>
                                    </td>
                                    <td class="pro-remove">
                                        <a href="{% url 'cart:cart_remove' product.id%}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </form>

                <div class="row">

                    <div class="col-lg-6 col-12 mb-15">
                        <!-- Calculate Shipping -->
                        <div class="calculate-shipping">
                            <h4>
                                <a href="{% url 'shop:product_list' %}" class="btn btn-circle hover-theme mr-30 mb-30"> Продолжить покупки </a>
                            </h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <select class="nice-select">
                                            <option>Bangladesh</option>
                                            <option>China</option>
                                            <option>country</option>
                                            <option>India</option>
                                            <option>Japan</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <select class="nice-select">
                                            <option>Dhaka</option>
                                            <option>Barisal</option>
                                            <option>Khulna</option>
                                            <option>Comilla</option>
                                            <option>Chittagong</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Postcode / Zip">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Estimate">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Discount Coupon -->
                        <div class="discount-coupon">
                            <h4>Discount Coupon Code</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Coupon Code">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Apply Code">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Cart Summary -->
                    <div class="col-lg-6 col-12 mb-40 d-flex">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Сводка по корзине</h4>
                                <p>Общая стоимость товаров <span>{{ cart.get_total_price }}</span></p>
                                <p>Стоимость доставки <span>$00.00</span></p>
                                <h2>Общая сумма <span>{{ cart.get_total_price }}</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <a href="{% url 'shop:product_list' %}" class="btn btn-small btn-circle hover-theme mb-30"> Продолжить покупки </a><br>
                                <a href="{% url 'orders:order_create' %}">
                                    <div class="btn btn-small btn-circle hover-theme mb-30">Оформить заказ</div>
                                </a>


                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->

{% endblock %}