{% extends "cart.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}



{% block content %}

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>Ваша корзина</h1>

                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">Cart</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a href="#"><img src="/static/images/banner/banner-15.jpg" alt="Banner"></a></div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a href="#"><img src="/static/images/banner/banner-14.jpg" alt="Banner"></a></div>
        </div>

    </div>
</div><!-- Page Banner Section End -->


<!-- Cart Page Start -->
<div class="page-section section pt-90 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Изображение</th>
                                    <th class="pro-title">Продукт</th>
                                    <th class="pro-price">цена за товар</th>
                                    <th class="pro-quantity">Количество</th>
                                    <th class="pro-subtotal">Цена</th>
                                    <th class="pro-remove">Удалить</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in cart %}
                            {% with product=item.product %}
                                <tr>
                                    <td class="pro-thumbnail">
                                        <a href="{{ product.get_absolute_url }}">
                                            <img src="
                                                {% if product.image %}
                                                    {{ product.image.url }}
                                                {% else %}
                                                {% static 'img/no_image.png' %}
                                                {% endif %}" alt="Product">
                                        </a>
                                    </td>
                                    <td class="pro-title">
                                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                    </td>
                                    <td class="pro-price">
                                        <span>{{ item.price }} руб.</span>
                                    </td>
                                    <td class="pro-quantity">
                                            {{ item.quantity }} шт.
                                    </td>
                                    <td class="pro-subtotal">
                                        <span>{{ item.total_price }} руб.</span>
                                    </td>
                                    <td class="pro-remove">
                                        <a href="{% url 'cart:cart_remove' product.id%}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-6 col-12 mb-15">
                        <!-- Calculate Shipping -->
                        <div class="calculate-shipping">
                            <h4>
                                <a href="{% url 'shop:product_list' %}" class="btn btn-circle hover-theme mr-30 mb-30"> Продолжить покупки </a>
                            </h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <select class="nice-select">
                                            <option>Самовывоз</option>
                                            <option>Заказать доставку</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" id="zakaz2" value="Оформить доставку">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Cart Summary -->
                    <div class="col-lg-6 col-12 mb-40 d-flex">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Сводка по корзине</h4>
                                <p>Общая стоимость товаров <span>{{ cart.get_total_price }} руб.</span></p>
                                <p>Стоимость доставки <span>00.00 руб.</span></p>
                                <h2>Общая сумма <span>{{ cart.get_total_price }} руб.</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <a href="{% url 'shop:product_list' %}" id="zakaz2"> Продолжить покупки </a><br><br><br>
                                <a href="{% url 'orders:order_create' %}">
                                    <input type="submit" id="zakaz" value="ОФОРМИТЬ ЗАКАЗ">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->

{% endblock %}