{% extends "contact.html" %}
{% load static %}



{% block contact %}
        <div class="row">

            <!-- Contact Tab List -->
            <div class="col-lg-4 col-12 mb-50">
                <ul class="contact-tab-list nav">
                    <li><a class="active" data-toggle="tab" href="#contact-address">Контактная информация</a></li>
                </ul>
            </div>

            <!-- Contact Tab Content -->
            <div class="col-lg-8 col-12">
                <div class="tab-content">
{% for contact in contact %}
                    <!-- Contact Address Tab -->
                    <div class="tab-pane fade show active row d-flex" id="contact-address">

                        <div class="col-lg-4 col-md-6 col-12 mb-50">
                            <div class="contact-information">
                                <h4>Адрес</h4>
                                <p>{{ contact.adress_one_contact|safe }}</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-50">
                            <div class="contact-information">
                                <h4>Телефон</h4>
                                <p><a href="tel:01234567890">{{ contact.tel }}</a></p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-50">
                            <div class="contact-information">
                                <h4>Вэб</h4>
                                <p><a href="mailto:info@example.com">{{ contact.adress_toe_contact|safe }}</a></p>
                            </div>
                        </div>
                    </div>
{% endfor %}
                </div>
            </div>
        </div>

<!-- MAP Section Start -->
<div class="banner-section section mb-90">
    <div class="container">
        <div class="row">

            <!-- Banner -->
            <div class="col-12">
                <div class="banner">

                </div>
            </div>

        </div>
    </div>
</div><!-- Banner Section End -->
{% endblock %}