{% extends "prodditail.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
            <div class="col-xl-9 col-lg-8 col-12 order-1 order-lg-2 mb-60">
                <div class="row mb-40">
                    <div class="col-lg-6 col-12 mb-50">
                        <!-- Image -->
                        <div class="single-product-image">
                            <div class="tab-content">
                                <div id="single-image-1" class="tab-pane fade show active big-image-slider">
                                    <img src="{{ product.image.url }}" alt="Big Image">
                                    {% for photo in product.product_gallery.filter %}
                                    <div class="big-image">

                                        <img src="{{ photo.photo_gallery.url }}" alt="Big Image">
                                        <a href="{{ photo.photo_gallery.url }}" class="big-image-popup">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
<!--маленькие фото под большим старт-->
                            <div class="thumb-image-slider nav">
                                {% for photo in product.product_gallery.filter %}
                                  <p class="thumb-image active" data-toggle="tab" href="{{ photo.photo_gallery.url }}">
                                      <img src="{{ photo.photo_gallery.url }}" alt="Thumbnail Image">
                                  </p>
                                {% endfor %}
                            </div>
<!--маленькие фото под большим конец-->

                    </div>

                    <div class="col-lg-6 col-12 mb-50">
                        <!-- Content -->
                        <div class="single-product-content p-0">
                            <!-- Category & Title -->
                            <div class="head-content">
                                <div class="category-title">
                                    <a href="#" class="cat">{{ product.category }}</a>
                                    <h5 class="title">{{ product.name }}</h5>
                                </div>
                                <h5 class="price">{{ product.price }} руб.</h5>
                            </div>
                            <div class="single-product-description">
                                <div class="ratting">
                                </div>
                                <div class="desc">
                                    <p>{{ product.description | truncatewords_html:20 }} </p>
                                </div>
                                <span class="availability">Наличие: <span>{{ product.available }}</span></span>
                                <div class="quantity-colors">
                                  <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                      <div class="quantity">
                                           <h5>Количество</h5>
                                         <div>
                                           {{ cart_product_form }}
                                           {% csrf_token %}
                                         </div>
                                         <div class="actions">
                                                <input type="submit"  class="ti-shopping-cart" id="zakaz2" value="В КОРЗИНУ">
                                         </div>
                                      </div>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12 mb-90">

                        <ul class="single-product-tab-list nav">

                            <li><a href="#product-specifications" data-toggle="tab" >Характеристики</a></li>

                        </ul>

                        <div class="single-product-tab-content tab-content">
                            <div class="tab-pane fade show active" id="product-description">

                                <div class="row">
                                    <div class="single-product-description-content col-lg-8 col-12">
                                        <h4>{{ product.name }}</h4>
                                        <p>{{ product.description | linebreaks}}</p>
                                    </div>
                                    <div class="single-product-description-image col-lg-4 col-12">
                                        <img src="/static/images/single-product/description.png" alt="description">
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="product-specifications">
                                <div class="single-product-specification">
                                    <ul>
                                        {{ product.tehnik_harakteristic | linebreaks}}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                </div>

            </div>

{% endblock %}

<!--старт БОКОВАЯ КАТЕГОРИЯ-->

{% block category %}
            <div class="shop-sidebar-wrap col-xl-3 col-lg-4 col-12 order-2 order-lg-1 mb-50">
                <div class="shop-sidebar mb-30">
                    <h4 class="title">Каталог</h4>
                    <ul class="sidebar-category">
    {% for cat in categories %}
        <li {% if category.slug == cat.slug %} class="selected" {% endif %}>
            <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
        </li>
    {% endfor %}
<!--ВЫПАДАЮЩЕЕ МЕНЮ-->
         <li><a href="#">Phones & Tablets</a>
             <ul class="children">
                <li><a href="#">Samsome</a></li>
                <li><a href="#">GL Stylus</a></li>
                <li><a href="#">Uawei</a></li>
                <li><a href="#">Cherry Berry</a></li>
             </ul>
         </li>

                                            </ul>
                </div>
                <div class="shop-sidebar mb-30">
                    <h4 class="title">Brand</h4>
                    <ul class="sidebar-brand">
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Sumsang</a></li>
                        <li><a href="#">Phillips</a></li>
                        <li><a href="#">Zeon</a></li>
                        <li><a href="#">Panasonic</a></li>
                        <li><a href="#">Uawei</a></li>
                    </ul>
                </div>
                <div class="shop-sidebar mb-30">
                    <h4 class="title">Цена</h4>
                    <div class="sidebar-price">
                        <div id="price-range"></div>
                        <input type="text" id="price-amount" readonly>
                    </div>
                </div>
                <div class="shop-sidebar mb-30">
                    <div class="banner"><a href="#"><img src="/static/images/banner/banner-41.jpg" alt="Banner"></a></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Single Product Section End -->
{% endblock %}

<!--конец БОКОВАЯ КАТЕГОРИЯ-->
