{% extends "prodditail.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div class="col-xl-9 col-lg-8 col-12 order-1 order-lg-2 mb-60">
    <div class="row mb-40">
        <div class="col-lg-6 col-12 mb-50">
            <!-- Image -->
            <div class="single-product-image">
                <div class="tab-content">
                    <div id="single-image-1" class="tab-pane fade show active big-image-slider">
                        <!--главное фото выводится для увеличения отдельно-->
                        <div class="big-image">
                            {% if product.image1 %}
                            <img src="{{ product.image1.url }}" alt="Big Image">
                            <a href="{{ product.image1.url }}" class="big-image-popup">
                                <i class="fa fa-search-plus"></i>
                            </a>
                            {%else %}
                            <p></p>
                            {% endif %}
                        </div>
                    </div>
                    <div id="single-image-2" class="tab-pane fade big-image-slider">
                        <div class="big-image">
                            {% if product.image2 %}
                            <img src="{{ product.image2.url }}" alt="Big Image">
                            <a href="{{ product.image2.url }}" class="big-image-popup">
                                <i class="fa fa-search-plus"></i>
                            </a>
                            {%else %}
                            <p></p>
                            {% endif %}
                        </div>
                    </div>
                    <div id="single-image-3" class="tab-pane fade big-image-slider">
                        <div class="big-image">
                            {% if product.image3 %}
                            <img src="{{ product.image3.url }}" alt="Big Image">
                            <a href="{{ product.image3.url }}" class="big-image-popup">
                                <i class="fa fa-search-plus"></i>
                            </a>
                            {%else %}
                            <p></p>
                            {% endif %}
                        </div>
                    </div>
                    <!--  конец главного фото-->
                    <!--  конец блока фото -->
                </div>
            </div>
            <!--маленькие фото под большим старт-->
            <div class="thumb-image-slider nav">
                <a class="thumb-image active" data-toggle="tab" href="#single-image-1">
                    {% if product.image1 %}
                    <img src="{{ product.image1.url }}" class="thumb-image active" data-toggle="tab" alt="Thumbnail Image">
                    {% else %}
                    <p></p>
                    {% endif %}
                </a>
                <a class="thumb-image" data-toggle="tab" href="#single-image-2">
                    {% if product.image2 %}
                    <img src="{{ product.image2.url }}" alt="Thumbnail Image">
                    {% else %}
                    <p></p>
                    {% endif %}
                </a>
                <a class="thumb-image" data-toggle="tab" href="#single-image-3">
                    {% if product.image3 %}
                    <img src="{{ product.image3.url }}" alt="Thumbnail Image">
                    {% else %}
                    <p></p>
                    {% endif %}
                </a>
            </div>
            <!--маленькие фото под большим конец-->
        </div>
        <div class="col-lg-6 col-12 mb-50">
            <!-- Content -->
            <div class="single-product-content p-0">
                <!-- Category & Title -->
                <div class="head-content">
                    <div class="category-title">
                        <p><h5 class="title">{{ product.name }}</h5></p>
                        <p><h5 class="price">цена {{ product.price }} руб.</h5></p><br>
                    </div>
                </div>
                <div class="single-product-description">
                    <div class="ratting">
                    </div>
                    <div class="desc">
                        <p>{{ product.description | truncatewords_html:20 }} </p>
                    </div>
                    <span class="availability">Наличие: <span>{{ product.available }}</span></span>
                    <div class="quantity-colors">
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            <div class="quantity">
                                <h5>Количество</h5>
                                <div>
                                    {{ cart_product_form }}
                                    {% csrf_token %}
                                </div>
                                <div class="actions">
                                    <input type="submit"  class="ti-shopping-cart" id="zakaz2" value="В КОРЗИНУ">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--характеристики старт -->
    <div class="row">
        <div class="col-12 mb-90">
            <ul class="single-product-tab-list nav">
                <li><a href="#product-description" class="active" data-toggle="tab" >Основное</a></li>
                <li><a href="#product-specifications" data-toggle="tab" >Характеристики</a></li>
                <li><a href="#product-reviews" data-toggle="tab" >Отзывы</a></li>
            </ul>
            <div class="single-product-tab-content tab-content">
                <!--------------------- основное начало -->
                <div class="tab-pane fade show active" id="product-description">
                    <div class="row">
                        <div class="single-product-description-content col-lg-8 col-12">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.description | linebreaks}}</p>
                        </div>
                        <div class="single-product-description-image col-lg-4 col-12">
                            <img src="/static/images/single-product/description.png" alt="description">
                        </div>
                    </div>
                </div>
                <!--------------------- основное конец -->
                <!--------------------- характеристики начало -->
                <div class="tab-pane fade" id="product-specifications">
                    <div class="single-product-specification">
                        <ul>
                            {{ product.tehnik_harakteristic | linebreaks}}
                        </ul>
                    </div>
                </div>
                <!--------------------- характеристики конец -->
                <!--------------------- комментарии начало -->
                <div class="tab-pane fade" id="product-reviews">
                    <div class="product-ratting-wrap">
                        {% for comment in comments %}
                        <div class="rattings-wrapper">
                            <div class="sin-rattings">
                                <div class="ratting-author">
                                    <h3>{{ comment.title_com }}</h3>
                                    <div class="ratting-star">
                                        <i class="fa fa-star{% if comment.rate < 1  %}-o {% endif %}"></i>
                                        <i class="fa fa-star{% if comment.rate < 2  %}-o {% endif %}"></i>
                                        <i class="fa fa-star{% if comment.rate < 3  %}-o {% endif %}"></i>
                                        <i class="fa fa-star{% if comment.rate < 4  %}-o {% endif %}"></i>
                                        <i class="fa fa-star{% if comment.rate < 5  %}-o {% endif %}"></i>


                                    </div>
                                </div>
                                {{ comment.body_com | linebreaks }}
                            </div>
                        </div>
                        {% endfor %}
                        {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                            Ваш комментарий ожидает модерацию
                        </div>
                        {% else %}
                        <div class="ratting-form-wrapper fix">
                            <h3>Добавить отзыв</h3>
                            <form method="post" style="margin-top: 1.3em;">
                                <div class="ratting-form row">
                                    <div class="col-12 mb-15">
                                        <h5>Баллы:</h5>
                                        <div class="ratting-star fix">
                                            <i class="fa fa-star {% if comment.rate < 1  %}  {% endif %}"></i>
                                            <i class="fa fa-star {% if comment.rate < 2  %}  {% endif %}"></i>
                                            <i class="fa fa-star {% if comment.rate < 3  %}  {% endif %}"></i>
                                            <i class="fa fa-star {% if comment.rate < 4  %}  {% endif %}"></i>
                                            <i class="fa fa-star {% if comment.rate < 5  %}  {% endif %}"></i>
                                        </div>
                                    </div>
                                       <div class="col-md-6 col-12 mb-15">
                                            <label>Имя:</label>
                                           {{ comment_form.title_com }}
									   </div>
                                    	<div class="col-md-6 col-12 mb-15">
                                            <label>Баллы:</label>
                                            {{ comment_form.rate }}
										</div>
                                       <div class="col-12 mb-15">
                                            <label>Ваш отзыв:</label>
                                                {{ comment_form.body_com }}
										</div>
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <input value="отправить" type="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
{% endblock %}

<!--старт БОКОВАЯ КАТЕГОРИЯ-->

{% block category %}
<div class="shop-sidebar-wrap col-xl-3 col-lg-4 col-12 order-2 order-lg-1 mb-50">
    <div class="shop-sidebar mb-30">
        <h4 class="title">Бренды</h4>
        <ul class="sidebar-category">
            {% for cat in categories %}
            <li {% if category.slug == cat.slug %} class="selected" {% endif %}>
                <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
            </li>
            {% endfor %}</ul>
    </div>
    <div class="shop-sidebar mb-30">
        <div class="banner"><a href="#"><img src="/static/images/banner/banner-41.jpg" alt="Banner"></a></div>
    </div>
</div>
</div>
</div>
</div><!-- Single Product Section End -->
{% endblock %}

<!--конец БОКОВАЯ КАТЕГОРИЯ-->
