{% extends "base.html" %}
{% load static %}
{% block title %}
  {% if category %}
    {{ category.name }}
  {% else %}
    Страница товаров
  {% endif %}
{% endblock %}

{% block poisk %}
        <div class="header-advance-search">
            <form method="GET" action="">
                <div class="input">
                    <input type="text" name="q" placeholder="Search your product" value="{{request.GET.q}}"/>
                </div>
                <div class="submit">
                    <button type="submit" value="Search" >
                        <a href="/prodall/{{ prodall.url }}" class="icofont icofont-search-alt-1"> ПОИСК
                        </a>
                    </button>
                </div>
            </form>
        </div><!-- Header Advance Search End -->
{% endblock poisk %}


{% block carusel %}
                <div class="hero-slider hero-slider-three fix">
                    <!-- Hero Item Start -->
                    {% for carusel_tovar in carusel_tovar %}
                    <div class="hero-item-three" style="background-image: url(/static/images/hero/hero-3-bg-1.jpg)">
                        <div class="row align-items-center justify-content-between">
                            <!-- Hero Content -->
                            <div class="hero-content-three col">
                                <h2 class="offer">50% <span>Скидка</span></h2>
                                <h2>{{carusel_tovar.name}} </h2>
                                <a href="{{ carusel_tovar.get_absolute_url }}">посмотреть</a>
                            </div>
                            <!-- Hero Image -->
                            <div class="hero-image-three col">
                               <img src="" alt="Hero Image">
                            </div>
                        </div>
                    </div><!-- Hero Item End -->
                    {% endfor %}
                </div><!-- Hero Slider End -->
                {% endblock %}
                    <!-- Product Tab Content Start -->
{% block recomend_tovar %}
                    <div class="col-xl-9 col-lg-8 col-12 order-3 mb-30">
                        <div class="tab-content">
                            <!-- Tab Pane Start -->
                            <div class="tab-pane fade show active" id="tab-one">
                                <!-- Product Slider Wrap Start -->
                                <div class="product-slider-wrap product-slider-arrow-two">
                                    <!-- Product Slider Start -->
                                    <div class="product-slider product-slider-3">
                                      {% for product in products %}
                                        <div class="col pb-20 pt-10">
                                            <!-- Product Start -->
                                            <div class="ee-product">
                                                <!-- Image -->
                                                <div class="image">
                                                    <a href="{{ product.get_absolute_url }}" class="img">
                                                       {% if product.image %}
                                                           <img src="{{ product.image.url }}" alt="Product Image">
                                                       {%else %}
                                                           <p></p>
                                                       {% endif %}
                                                    </a>
                                                </div>
                                                <!-- Content -->
                                                <div class="content">
                                                    <!-- Category & Title -->
                                                    <div class="category-title">

                                                        <a href="#" class="cat">{{ product.category }}</a>
                                                        <h5 class="title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                                                    </div>
                                                    <!-- Price & Ratting -->
                                                    <div class="price-ratting">
                                                        <h5 class="price">{{ product.price }} руб.</h5>
                                                        <div class="ratting">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- Product End -->
                                        </div>
                                      {% endfor %}
                                    </div><!-- Product Slider End -->
                                </div><!-- Product Slider Wrap End -->
                            </div><!-- Tab Pane End -->
                        </div>
                    </div><!-- Product Tab Content End -->
{% endblock %}

<!-- hit_prodaj Start -->
{% block hit_prodaj %}
    {% for hit_prodajs in hit_prodaj %}
                            <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">
                                <!-- Product Start -->
                                <div class="ee-product">
                                    <!-- Image -->
                                    <div class="image">

                                        <a href="{{ hit_prodajs.get_absolute_url }}" class="img">
                                            {% if hit_prodajs.image %}
                                                <img src=" {{ hit_prodajs.image.url }}" alt="Product Image">
                                            {%else %}
                                                <p></p>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <!-- Category & Title -->
                                        <div class="category-title">
                                            <a href="#" class="cat">{{ hit_prodajs.category }}</a>
                                            <h5 class="title"><a href="{{ hit_prodajs.get_absolute_url }}">{{ hit_prodajs.name }}</a></h5>
                                        </div>
                                        <!-- Price & Ratting -->
                                        <div class="price-ratting">
                                            <h5 class="price">{{ hit_prodajs.price }} руб.</h5>
                                            <div class="ratting">
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Product End -->
                            </div>
    {% endfor %}
{% endblock %}
<!-- hit_prodaj AND -->

<!-- new_tovar START -->
{% block new_product %}
{% for new_tovars in new_tovar %}
                            <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">
                                <!-- Product Start -->
                                <div class="ee-product">
                                    <!-- Image -->
                                    <div class="image">
                                        <span class="label new">new</span>

                                        <a href="{{ new_tovars.get_absolute_url }}" class="img">
                                            {% if new_tovars.image %}
                                                <img src=" {{ new_tovars.image.url }}" alt="Product Image">
                                            {%else %}
                                                <p></p>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <!-- Category & Title -->
                                        <div class="category-title">
                                            <a href="#" class="cat">{{ new_tovars.category }}</a>
                                            <h5 class="title"><a href="{{ new_tovars.get_absolute_url }}">{{ new_tovars.name }}</a></h5>
                                        </div>
                                        <!-- Price & Ratting -->
                                        <div class="price-ratting">
                                            <h5 class="price"><span class="old">$285</span>{{ new_tovars.price }} руб.</h5>
                                            <div class="ratting">
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Product End -->
                            </div>
{% endfor %}

{% block foot1 %}


{% endblock %}

{% endblock %}
<!-- new_tovar AND -->

