{% extends "prodall.html" %}
{% load static %}



{% block prodall %}
<div class="product-section section mt-90 mb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-12 order-lg-2 mb-50">
                <div class="row mb-50">
                    <div class="col">
                        <!-- Shop Top Bar Start -->
                        <div class="shop-top-bar with-sidebar">
                            <!-- Product View Mode -->
                            <div class="product-view-mode">
                                <a href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                <a class="active" href="#" data-target="list"><i class="fa fa-list"></i></a>
                            </div>
                            <!-- Product Pages -->
                            <div class="product-pages">
                            </div>
                        </div><!-- Shop Top Bar End -->
                    </div>
                </div>

                <!-- Shop Product Wrap Start -->
                <div class="shop-product-wrap list row">
                     {% for productall in prodall %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
                        <!-- Product Start -->
                        <div class="ee-product">
                            <!-- Image -->
                            <div class="image">
                                <a href="{{ productall.get_absolute_url }}" class="img"><img src="{{ productall.image.url }}" alt="Product Image"></a>
                                <div class="wishlist-compare">
                                </div>
                                    <div class="quantity">
                                        <h5>Количество</h5>
                                        {{ cart_product_form }}
                                        {% csrf_token %}
                                        <div class="actions">
                                        <input type="submit"  class="ti-shopping-cart" id="zakaz2" value="В КОРЗИНУ">
                                        </div>
                                    </div>

                            </div>
                            <!-- Content -->
                            <div class="content">
                                <!-- Category & Title -->
                                <div class="category-title">
                                    {% if productall.available %}
                                    <span class="availability"> <span>Есть в наличии <img src="/static/images/icons/green.png" alt="Banner"></span></span>
                                    {% else %}
                                    <span class="availability">Товар <span>отсутствует <img src="/static/images/icons/red.png" alt="Banner"></span></span>
                                    {% endif %}
                                    <h5 class="title"><a href="{{ productall.get_absolute_url }}">{{productall.name}}</a></h5>
                                </div>
                                <!-- Price & Ratting -->
                                <div class="price-ratting">
                                    <h5 class="price">{{ productall.price }} руб.</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">
                            <!-- Image -->
                            <div class="image">
                                <a href="{{ productall.get_absolute_url }}" class="img">
                                    <img src="{{ productall.image.url }}" alt="Product Image">
                                </a>
                            </div>
                            <!-- Content -->
                            <div class="content">
                                <!-- Category & Title -->
                                <div class="head-content">
                                    <div class="category-title">
                                        <a href="#" class="cat">Audio</a>
                                        <h5 class="title"><a href="{{ productall.get_absolute_url }}">{{ productall.name }}</a></h5>
                                    </div>
                                    <h5 class="price">{{ productall.price }} руб.</h5>
                                </div>
                                <div class="left-content">
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <div class="desc">
                                        <p>{{ productall.description }}</p>
                                    </div>
                                    <div class="quantity">
                                        <h5>Количество</h5>
                                        {{ cart_product_form }}
                                        {% csrf_token %}
                                        <div class="actions">
                                        <input type="submit"  class="ti-shopping-cart" id="zakaz2" value="В КОРЗИНУ">
                                        </div>
                                    </div>

                                </div>
                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Описание</h5>
                                            <p>{{productall.description}}</p>
                                    </div>
                                    {% if productall.available %}
                                    <span class="availability"> <span>Есть в наличии <img src="/static/images/icons/green.png" alt="Banner"></span></span>
                                    {% else %}
                                    <span class="availability">Товар <span>отсутствует <img src="/static/images/icons/red.png" alt="Banner"></span></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div><!-- Product List End -->
                    </div>
                    {% endfor %}
                </div><!-- Shop Product Wrap End -->

<!--                pagination start-->
                <div class="row mt-30">
                    <div class="col">
                        {% if prodall.has_other_pages %}
                        <ul class="pagination">
                            {% if prodall.has_previous %}
                            <li>
                                <a href="?page={{ prodall.previous_page_number }}">Назад</a>
                            </li>
                            {% endif %}
                            {% for i in prodall.paginator.page_range %}
                            {% if prodall.number == i %}
                            <li class="active">
                                <a href="#">
                                <span>{{ i }} <span class="sr-only">(current)</span></span>
                                </a>
                            </li>
                            {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            <li>
                            {% if prodall.has_next %}
                                <a href="?page={{ prodall.next_page_number }}">Вперёд</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
<!--pagination end-->
            </div>

      <!--CENA-LEFT start-->
            <div class="shop-sidebar-wrap col-xl-3 col-lg-4 col-12 order-lg-1 mb-15">

                <div class="shop-sidebar mb-35">
                    <h4 class="title">Brand</h4>
                    <ul class="sidebar-brand">
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Sumsang</a></li>
                        <li><a href="#">Phillips</a></li>
                        <li><a href="#">Zeon</a></li>
                        <li><a href="#">Panasonic</a></li>
                        <li><a href="#">Uawei</a></li>
                    </ul>
                </div>
{% block filter %}

                <div class="shop-sidebar mb-35">
                    <h4 class="title">Цена до</h4>
                    <div class="sidebar-price">
                      <form method="get">
                        {{ filter.form.as_p }}
                        <button type="submit">Поиск</button>
                      </form>
                    {% for user in filter.qs %}
                        <li>{% if user.price > 5  %} {{ user.price }} {% endif %}</li>
                    {% endfor %}
                    </div>
                </div>

{% endblock filter %}
                <div class="shop-sidebar mb-35">
                    <div class="banner">
                        <a href="#"><img src="assets/images/banner/banner-41.jpg" alt="Banner"></a>
                    </div>
                </div>

                <div class="shop-sidebar mb-35">
                    <h4 class="title">Color</h4>
                    <ul class="sidebar-brand">
                        <li><a href="#">White</a></li>
                        <li><a href="#">Black</a></li>
                        <li><a href="#">Cosmic Black</a></li>
                        <li><a href="#">Rose Gold</a></li>
                        <li><a href="#">Spacegrey</a></li>
                    </ul>
                </div>

                <div class="shop-sidebar mb-35">
                    <h4 class="title">Tags</h4>
                    <div class="sidebar-tags">
                        <a href="#">smartphone</a>
                        <a href="#">Iron</a>
                        <a href="#">Trimer</a>
                        <a href="#">Smart Watch</a>
                        <a href="#">Play Station</a>
                        <a href="#">Oven</a>
                    </div>
                </div>

            </div>

      <!--CENA-LEFT end-->

        </div>
    </div>
</div><!-- Feature Product Section End -->
{% endblock prodall %}