{% extends "check.html" %}

{% block title %}Thank you{% endblock %}

{% block menu %}
    <div class="main-menu">
        <nav>
            <ul>
                <li><a href="/">ГЛАВНАЯ</a></li>
                    <li class="menu-item-has-children"><a href="shop-grid.html">КАТАЛОГ</a>
                        <ul class="sub-menu">
                            {% for katalog in katalog %}
                                {% if katalog.pod_categoty %}
                                <li class="menu-item-has-children">
                                   <a href="/{{ katalog.slug }}">{{ katalog.name }}</a>
                                      <ul class="sub-menu">
                                         <li>
                                            {% for pod_category in katalog.pod_categoty.all %}
                                                <a href="{{ pod_category.get_absolute_url }}">
                                                    {{ pod_category.name_podcategory }}
                                                </a>
                                            {%endfor%}
                                         </li>
                                      </ul>
                                </li>
                                {%else %}
                                {% endif %}
                           {% endfor %}
                        </ul>
                    </li>
                <li class="active"><a href="/dostiopl/{{ dostiopl.url }}">ДОСТАВКА И ОПЛАТА</a></li>
                <li class="active"><a href="/contact/{{ contact.url }}">КОНТАКТЫ</a></li>
            </ul>
        </nav>
    </div><!-- Main Menu End -->
{% endblock menu %}

{% block thankyou %}
<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>Ваш заказ успешно отправлен</h1>

                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">Ваш заказ успешно отправлен</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a href="#"><img src="/static/images/banner/banner-15.jpg" alt="Banner"></a></div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a href="#"><img src="/static/images/banner/banner-14.jpg" alt="Banner"></a></div>
        </div>

    </div>
</div><!-- Page Banner Section End -->


<!-- Track Order Section Start -->
<div class="track-order-section section mt-90 mb-50">
    <div class="container">
        <div class="row align-items-center">

            <div class="track-order-title text-center col-12 mb-80">
                <h2>Спасибо</h2>
                <p>Ваш заказ успешно отправлен. Номер вашего заказа <strong>{{ order.id }}</strong></p>
            </div>

        </div>
    </div>
</div><!-- Track Order Section End -->

{% endblock %}