<!doctype html>
{% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>E&E - Electronics eCommerce Bootstrap4 HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Icon Font CSS -->
    <link href="{% static 'css/icon-font.min.css' %}" rel="stylesheet" />
    <!-- Plugins CSS -->
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" />
    <!-- Main Style CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- Modernizer JS -->
    <script src="{% static 'js/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
{% include 'include/upmenu.html' %}

<!-- Feature Product Section Start -->
    {% block prodall %}
    {% endblock prodall %}

<!-- Footer Section Start -->
    {% include 'include/footer.html' %}
<!-- Footer Section End -->


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Popper JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Ajax Mail -->
<script src="{% static 'js/ajax-mail.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>